body{
    background-color: rgb(154, 154, 159);
}
img{
    height: 50px;
    width: 50px;
}
nav{
    display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right ul li span{
    padding: 0 5px;
    font-size: 18px;
}
.right ul li i{
    font-size: 12px;
    font-weight: 600;
}