@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Pacifico&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.main {
  background-image: url("image/bg.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 660px;
  position: relative;
}

.main .box {
  height: 660px;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
nav img {
  height: 80px;
  color: red;
  width: 125px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
nav button img {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 25px;
  padding: 30px;
}
.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
}
